/* tags */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.5s ease;
}

a:hover {
  font-style: italic;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg,  rgb(255, 205, 205),#fff);
  background-attachment: fixed;
  letter-spacing: 0.03em;
}

p {
  font-size: 14px;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

/* ids */

#app {
  height: 100%;
  width: 100%;
}

#header {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header h1 {
  background-color: rgb(255, 210, 210);
  width: 8rem;
  height: 8rem;
  display: flex;
  padding: 6rem;
  margin: 3rem;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  text-align: center;
  border: solid 2px;
  border-radius: 50%;
  box-shadow: 0 .5rem .5rem  0 rgb(140, 96, 96);
}

#navbar {
  border: 1px none;
  border-radius: 2rem;
  width: 100%;
  margin-right: 5rem;
  height: 5rem;
  background: linear-gradient(90deg,#fff,  rgb(255, 205, 205));
  color: rgb(2, 2, 2);
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 .5rem .5rem  0 rgb(140, 96, 96);
}

#keyslist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#keyslist p {
  font-size: larger;
}

@counter-style key-degrees {
  system: fixed;
  symbols: I ii iii IV V vi vii;
  suffix: ": ";
}

#chordslist {
  display: flex;
  flex-wrap: wrap;
  margin: .5rem;
}

#chordslist ul {
  list-style: key-degrees;
  text-indent: none;
}

@counter-style chord-elements {
  system: fixed;
  symbols: Root Third Fifth Seventh Eleventh Thirteenth;
  suffix: ": ";
}

#noteslist ul {
  list-style: chord-elements;
  text-indent: none;
}

#chords {
  align-items: center;
}

#single-key {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem 0 4rem 0;
  margin: 0 15rem 10rem 15rem;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 50%;
  box-shadow: 0 .5rem .5rem 0;
}

/* classes */

.column {
  width: fit-content;
}

.container {
  margin-top: 2rem;
  height: 100%;
  width: 100%;
}


.row {
  display: flex;
  flex-direction: row;
}


